<header class="bg-white shadow-md ">
  <div class="container mx-auto flex items-center justify-between p-4">
    <div class="flex items-center">
      <%= image_tag 'logo.png', class: 'h-full max-h-20 w-auto' %>
      <h1 class="ml-4 text-2xl font-bold">HARMONAI</h1>
    </div>
    <nav class="flex space-x-8 text-lg">

    <a href="#" class="text-center text-gray-600 font-bold">ログイン</a>
    <a href="#" class="text-center text-gray-600 font-bold">新規登録</a>
    <a href="#" class="text-center text-gray-600 font-bold">パスワード再発行</a>
    </nav>
  </div>
</header>
