<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue text-black ">
  <div class="bg-white p-8 rounded-xl shadow-md max-w-lg m-10">
    <h1 class="text-3xl text-white font-bold mb-6 py-2 bg-customred">HARMONIAについて</h1>

    <!-- アプリ説明の本文 -->
    <p class="text-lg mb-4 text-left text-customblue">
        あなたの声質を診断し、最適なアーティストや楽曲を提案するアプリです!簡単に声を録音し、診断結果を基にパーソナライズされたプレイリストや、カラオケで高得点を狙える曲の提案を受けることができます。
    </p>

    <h2 class="text-2xl text-customred font-semibold mb-4">主な機能</h2>

    <ul class="list-disc list-inside mb-6 text-left text-customblue">
      <li>声質診断</li>
      <li>パーソナライズされたプレイリスト作成</li>
      <li>カラオケ向け楽曲提案</li>
      <li>アーティストの提案</li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4 text-customred">使い方</h2>

    <p class="text-lg mb-4 text-customblue">
      まずはアプリにログインし、マイクに向かって歌を歌ってください。アプリがあなたの声を診断し、声質に最適なアーティストや楽曲を提案します。さらに、パーソナライズされたプレイリストやカラオケでの曲選びもサポートします。
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-customred">お問い合わせ</h2>

    <p class="text-lg text-customblue">
      HARMONIAに関するご質問やフィードバックがございましたら、<a href="/contact" class="text-blue-500 underline">お問い合わせページ</a>よりご連絡ください。サポートチームが迅速に対応いたします。
    </p>
  </div>
</div>
